.recipeimg {
  width: 40%;
  border-radius: 20px;
}

div {
  margin-top: 50px;
}

.allneededingredients {
  margin-left: 45%;
  margin-top: -30%;
  margin-bottom: 15%;
  /* border-style: double; */
}

.allneeded {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* text */
}

.ingredientname {
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
}

.btn {
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 30px;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  text-align: center;
  width: 100px;
  text-decoration: none;
  margin-top: 3%;
}

li{
  /* text-decoration: none; */
  list-style: none;
}