.registration {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

label {
  display: inline-block;
  width: 200px;
}

form {
  padding-bottom: 25px;
}

form div {
  padding-bottom: 5px;
}

.btn {
  text-align: center;
  width: 50%;
  margin: 1px auto;
  background-color: #af0abe;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
 }

